<nav class="navbar">
    <ul class="pos-states">
            <li> <img src="/images/Logo.png" class="logo-img" /></li>
            <li><button class="nav-button"><img src="tables-icon.png" alt="Tables"> طاولات</button></li>
             <li><button class="nav-button"><img src="takeaway-icon.png" alt="Takeaway"> تيك أواي</button></li>
            <li><button class="nav-button"><img src="delivery-icon.png" alt="Delivery"> توصيل للمنازل</button></li>
    </ul>

    <ul class="pos-actions">
        <li><button class="nav-button"><img src="accounts-icon.png" alt="Accounts"> الحسابات</button></li>
        <li><button class="nav-button"><img src="summary-icon.png" alt="Summary"> ملخص</button></li>
        <li><button class="nav-button"><img src="distribution-icon.png" alt="Distribution"> توزيع</button></li>
        <li><button class="nav-button"><img src="orders-icon.png" alt="Orders"> الطلبات</button></li>
    </ul>
</nav>



@* <nav class="navbar"> *@
@*     <ul> *@
@*         <div class="pos-states"> *@
@*             <img src="/images/Logo.png" class="logo-img" /> *@
@*         <li><button class="nav-button"><img src="tables-icon.png" alt="Tables"> طاولات</button></li> *@
@*         <li><button class="nav-button"><img src="takeaway-icon.png" alt="Takeaway"> تيك أواي</button></li> *@
@*         <li><button class="nav-button"><img src="delivery-icon.png" alt="Delivery"> توصيل للمنازل</button></li> *@
@*         </div> *@


@*         <div class="pos-actions"> *@
@*         <li><button class="nav-button"><img src="accounts-icon.png" alt="Accounts"> الحسابات</button></li> *@
@*         <li><button class="nav-button"><img src="summary-icon.png" alt="Summary"> ملخص</button></li> *@
@*         <li><button class="nav-button"><img src="distribution-icon.png" alt="Distribution"> توزيع</button></li> *@
@*         <li><button class="nav-button"><img src="orders-icon.png" alt="Orders"> الطلبات</button></li> *@
@*         </div> *@
@*     </ul> *@
@* </nav> *@