.container[b-o9yepzmtho] {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 100vh;
    max-width: 100% !important;
    padding: 0;
}

.left-panel[b-o9yepzmtho] {
    background: linear-gradient(to bottom,#022e66, #90cafb);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

    .left-panel img[b-o9yepzmtho] {
        position: absolute;
        bottom: 12px;
        left: 12px;
        width: 20%;
        height: auto;
    }

.right-panel[b-o9yepzmtho] {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.keypad[b-o9yepzmtho] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.mud-item[b-o9yepzmtho] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 64px;
    border: 0.5px #0000001f solid;
}

.login-form[b-o9yepzmtho] {
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-label[b-o9yepzmtho] {
    padding: 25px;
    font-size: 28px !important;
    font-weight: 600;
}

.login-btn[b-o9yepzmtho] {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.custom-btn[b-o9yepzmtho] {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .custom-btn:hover[b-o9yepzmtho] {
        transform: scale(1.05);
    }

.form-control[b-o9yepzmtho] {
    font-size: 19px;
    padding: 10px;
    height: 50px;
}


